*.parquet filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
models/checkpoints/sprint6_candidate2_vpred_champion.pt filter=lfs diff=lfs merge=lfs -text
models/checkpoints/sprint6_candidate3_multitask_champion.pt filter=lfs diff=lfs merge=lfs -text
